<div class="form-wraper">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-container card">
            <div class="form-header">
                <img src="https://placehold.co/400" class="main-logo-icon" alt="">
            </div>
            <div class="form-body">
                <mat-form-field class="justifier">
                    <input matInput placeholder="Email" formControlName="email">
                    <mat-error *ngIf="(email?.dirty || email?.touched) && email?.errors && email?.errors?.['email']">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="(email?.dirty || email?.touched) && email?.errors && email?.errors?.['required']">
                        Email is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="justifier">
                    <input matInput type="password" placeholder="Password" formControlName="password">
                    <mat-error *ngIf="(password?.dirty || password?.touched) && password?.errors && password?.errors?.['required']">
                        Password is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="form-footer">
                <button mat-raised-button color="primary" [disabled]="!loginForm.valid">Login</button>
            </div>
        </div>
    </form>
</div>