<ng-container *ngIf="user; then authenticate; else notauthenticated">
</ng-container>

<ng-template #notauthenticated>
    <router-outlet></router-outlet>
</ng-template>

<ng-template #authenticate>
    <mat-toolbar class="mat-elevation-z8" color="primary">
        <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
            <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
            <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
        </button>

        <img class="brand-logo" src="https://ui-avatars.com/api/?background=random&size=512&name=Abarrotes Huerta" routerLink="/home" />

        <span routerLink="/home">Abarrotes Huerta</span>

        <span class="example-spacer"></span>

        <button mat-icon-button *ngIf="showListOptions.add" (click)="redirectToAddPage()" matTooltip="Agregar nuevo">
            <mat-icon>add</mat-icon>
        </button>

        <button mat-icon-button *ngIf="showListOptions.reload" matTooltip="Recargar">
            <mat-icon>cached</mat-icon>
        </button>
    </mat-toolbar>

    <mat-sidenav-container>
        <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z1">
            <img class="avatar mat-elevation-z1" [src]="user?.image_link" routerLink="/profile" />

            <h4 class="name" routerLink="/profile">{{ user?.name }}</h4>
            <p class="designation" routerLink="/profile">Cajero</p>

            <mat-divider></mat-divider>

            <button mat-button class="menu-button" routerLink="/home">
                <mat-icon>home</mat-icon>
                <span>Inicio</span>
            </button>
            <button mat-button class="menu-button" routerLink="/products">
                <mat-icon>store</mat-icon>
                <span>Productos</span>
            </button>

            <button mat-button class="menu-button" routerLink="/purchases">
                <mat-icon>shopping_cart</mat-icon>
                <span>Compras</span>
            </button>
            <button mat-button class="menu-button" routerLink="/providers">
                <mat-icon>face</mat-icon>
                <span>Proveedores</span>
            </button>

            <button mat-button class="menu-button" routerLink="/reports">
                <mat-icon>bar_chart</mat-icon>
                <span>Reportes</span>
            </button>

            <button mat-button class="menu-button" routerLink="/users">
                <mat-icon>people</mat-icon>
                <span>Usuarios</span>
            </button>

            <button mat-button class="menu-button" routerLink="/boxes">
                <mat-icon>inbox</mat-icon>
                <span>Cajas</span>
            </button>

            <mat-divider></mat-divider>

            <button mat-button class="menu-button" routerLink="/preferences">
                <mat-icon>settings</mat-icon>
                <span>Preferencias</span>
            </button>

            <button mat-button class="menu-button" (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span>Salir</span>
            </button>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="content mat-elevation-z8">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</ng-template>