<form [formGroup]="form" (ngSubmit)="store()">
    <div class="form-container">
        <div class="form-body">
            <mat-form-field class="justifier">
                <input matInput placeholder="Nombre" formControlName="name">
                <mat-error *ngIf="(name?.dirty || name?.touched) && name?.errors && name?.errors?.['required']">
                    Email is required
                </mat-error>
            </mat-form-field>
            <mat-form-field class="justifier">
                <input matInput placeholder="Email" formControlName="email">
                <mat-error *ngIf="(email?.dirty || email?.touched) && email?.errors && email?.errors?.['email']">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="(email?.dirty || email?.touched) && email?.errors && email?.errors?.['required']">
                    Email is required
                </mat-error>
            </mat-form-field>
            <mat-form-field class="justifier">
                <input matInput type="password" placeholder="Password" formControlName="password">
                <mat-error *ngIf="(password?.dirty || password?.touched) && password?.errors && password?.errors?.['required']">
                    Password is required
                </mat-error>
            </mat-form-field>
            <mat-form-field class="justifier">
                <input matInput type="password" placeholder="Password confirmation" formControlName="password_confirmation">
                <mat-error *ngIf="(password_confirmation?.dirty || password_confirmation?.touched) && password_confirmation?.errors && password_confirmation?.errors?.['required']">
                    Password confirmation is required
                </mat-error>
            </mat-form-field>
        </div>

        <div class="form-footer">
            <button mat-raised-button color="primary" [disabled]="!form.valid">Agregar</button>
        </div>
    </div>
</form>