/* You can add global styles to this file, and also import other style files */

html {
    font-size: 14px;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont;
}

*,
a,
button {
    cursor: default;
    user-select: none;
}

.drag {
    -webkit-app-region: drag;
}

.no-drag {
    -webkit-app-region: no-drag;
}

html,
body {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.table-container,
.table-paginator-container {
    overflow: auto;
}

.table-paginator-container {
    margin-top: 10px;
}

table {
    width: 100%;
}

.no-data {
    display: flex;
    justify-content: center;
}

.image-item {
    width: 100px;
    margin: 10px;
}

.action-button {
    margin-left: 10px;
}